*{
    margin:0;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing:border-box;
}

body{
    background:#222;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

/* CARD */

.card{
    width:90%;
    max-width:470px;
    background:linear-gradient(135deg,#00feba,#5b548a);
    color:#fff;
    border-radius:20px;
    padding:30px 25px;
    text-align:center;
}

/* SEARCH */

.search{
    width:100%;
    display:flex;
    align-items:center;
    gap:10px;
}

.search input{
    border:0;
    outline:0;
    background:#ebfffc;
    color:#555;
    padding:12px 20px;
    height:50px;
    border-radius:30px;
    flex:1;
    font-size:16px;
}

.search button{
    border:0;
    outline:0;
    background:#ebfffc;
    border-radius:50%;
    width:50px;
    height:50px;
    cursor:pointer;
}

.search button img{
    width:16px;
}

/* WEATHER ICON */

.weather-icon{
    width:120px;
    margin-top:20px;
}

/* TEMPERATURE */

.weather h1{
    font-size:60px;
    font-weight:500;
}

.weather h2{
    font-size:32px;
    font-weight:400;
}

/* DETAILS */

.details{
    display:flex;
    justify-content:space-between;
    margin-top:30px;
    flex-wrap:wrap;
    gap:20px;
}

.col{
    display:flex;
    align-items:center;
    text-align:left;
}

.col img{
    width:35px;
    margin-right:10px;
}

.humidity,
.wind{
    font-size:22px;
}

.weather{
    display:none;
}

.error{
    text-align:left;
    margin-left:10px;
    font-size:14px;
    margin-top:8px;
    color:red;
    display:none;
}

/* MOBILE RESPONSIVE */

@media (max-width:480px){

.card{
    padding:25px 20px;
}

.weather h1{
    font-size:48px;
}

.weather h2{
    font-size:26px;
}

.weather-icon{
    width:100px;
}

.search input{
    height:45px;
    font-size:14px;
}

.search button{
    width:45px;
    height:45px;
}

.details{
    flex-direction:column;
    align-items:flex-start;
}

}
.title{
    font-size:28px;
    font-weight:600;
    margin-bottom:20px;
}
@media (max-width:480px){
.title{
    font-size:22px;
}
}